<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659028778441-01188in2uet6s6jusj9n9a3ac8ukr652.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659028778441-01188in2uet6s6jusj9n9a3ac8ukr652</string>
	<key>API_KEY</key>
	<string>AIzaSyBQjDJTTA6KvmHiEKSTpWsesmqQ7XtHtog</string>
	<key>GCM_SENDER_ID</key>
	<string>659028778441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notfi</string>
	<key>PROJECT_ID</key>
	<string>nofi-6a606</string>
	<key>STORAGE_BUCKET</key>
	<string>nofi-6a606.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659028778441:ios:23f2c23c2bc751c30f9c18</string>
</dict>
</plist>